.publico-alvo {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.publico-alvo p {
    font-size: 55px;
    font-weight: 300;
    margin-bottom: 90px;
    color: var(--verde-escuro);
}

.texto-alvo {
    display: flex;
    font-weight: 100;
    gap: 16px;
}

.texto-alvo p {
    color: #000;
}

.texto-alvo .voce-alvo {
    color: var(--verde-escuro);
}

.cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 350px;
    height: 450px;
    padding: 32px 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow:  0px 10px 18px #00000062;
    transition: .5s ease-in-out;
    text-align: center;
    border-radius: 20px;
}
  
.texto-card {
    color: #fff;
    margin: auto 0;
    z-index: 2;
}

.card:hover {
    transform:  translateY(20px);
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(332deg, var(--verde-logo) 0%,  var(--verde-escuro) 100%);    
    z-index: 1;
    transition: .5s all;
    opacity: 0;
    border-radius: 20px;
}

.card:hover::before{
    opacity: 1;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
}

/* Responsivo 4K */
@media (min-width: 2560px) {
    .texto-alvo p {
        font-size: 86px;
    }
    .card {
        width: 490px;
        height: 590px;
    }
}

/* Responsivo Laptop L */
@media (max-width: 1440px) {
    .card {
        width: 270px;
        height: 370px;
    }
}


@media (max-width: 1280px) {
    .publico-alvo p {
        font-size: 46px;
        text-align: center;
    }
    
    .card {
        width: 270px;
        height: 370px;
    }
}

/* Responsivo Laptop */
@media (max-width: 1024px) {
    .card {
        width: 220px;
        height: 350px;
    }

    .card .texto-card h2 {
        font-size: 20px;
    }
}

/* Responsivo Tablet */
@media (max-width: 768px) {
    .cards {
        margin-top: -30px;
    }

    .card {
        width: 290px;
        height: 390px;
    }
}

@media (max-width: 480px) {
    .publico-alvo p {
        font-size: 34px;
        text-align: center;
    }

    .card {
        width: 190px;
        height: 290px;
    }

    .texto-card {
        font-size: 12px;
    }
}

/* Mobile M */
@media (max-width: 375px) {
    .card {
        width: 150px;
        height: 290px;
    }
}

/* Mobile S */
@media (max-width: 320px) {
    .cards {
        gap: 8px;
    }

    .card {
        width: 150px;
        height: 290px;
    }
}