.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textos-apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textos-apresentacao h1 {
    font-size: 64px;
    font-weight: 200;
}

.textos-apresentacao p {
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    font-weight: 100;
}

.hero-images {
    width: 80%;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.coluna-img-pequenas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.coluna-img-pequenas img {
    height: 200px;
    width: 175px;
}

/* Responsivo 4K */
@media (min-width: 2560px) {
    .textos-apresentacao h1 {
        font-size: 108px;
    }

    .textos-apresentacao p {
        font-size: 44px;
    }

    .hero-images .coluna-img-pequenas img {
        padding: 0px 50px 0px 50px;
        width: 120%;
        height: 120%;
    }

    .coluna-img-grande {
        display: none;
    }
}

/* Responsivo Mobile L */
@media (max-width: 425px) {
    .hero-images {
        margin-right: 10px;
    }
}

/* Responsivo Mobile M */
@media (max-width: 375px) {
    .hero-images {
        margin-right: 40px;
    }
}

/* Responsivo Mobile S */
@media (max-width: 320px) {
    .hero-images {
        margin-left: 7px;
    }
}

@media (max-width: 1280px) {
    .coluna-img-grande {
        display: none;
    }

    .textos-apresentacao p {
        padding: 0px 20px 0px 20px;
    }
}

@media (max-width: 707px) {
    .ultima-coluna {
        display: none;
    }
}

@media (max-width: 480px) {
    .hero-images {
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .textos-apresentacao h1 {
        margin-top: -260px;
        font-size: 32px;
    }

    .textos-apresentacao p {
        font-size: 18px;
        width: 95%;
    }

    .hero-images {
        margin-top: 20px;
    }

    .ultima-coluna {
        display: none;
    }
}

@media (max-width: 449px) {
    .hero-images {
        margin-top: -50px;
    }

    .coluna-img-pequenas {
        display: flex;
        flex-direction: row;
    }

    .coluna-img-pequenas img {
        width: 55%;
    }

    .textos-apresentacao {
        padding-top: 200px;
    }
}