.objetivos {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.objetivos-introducao {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.objetivos-img {
    display: flex;
    gap: 80px;
}

.objetivos-titulo {
    padding-right: 190px;
    font-size: 85px;
    font-weight: 300;
}

.objetivos-titulo .palavra1 {
    color: var(--verde-escuro);
}

.nosso-objetivos {
    display: flex;
    justify-content: space-around;
}

.obj {
    display: flex;
    flex-direction: column;
    width: 240px;
}

.num {
    font-size: 128px;
    font-weight: 800;
    color: var(--verde-escuro);
}

hr {
    border: 2px solid #000;
    border-radius: 30px;
    margin-bottom: 20px;
}

.descricao {
    font-size: 22px;
    font-weight: 200;
}

/* Responsivo 4K */
@media (min-width: 2560px) {
    .objetivos-introducao .objetivos-titulo {
        padding-right: 800px;
    }

    .objetivos-introducao .objetivos-img {
        gap: 60px;
    }

    .objetivos-introducao .objetivos-img img {
        width: 320px;
    }

    .nosso-objetivos {
        padding-right: 150px;
        display: flex;
        justify-content: center;
        gap: 600px;
    }

    hr {
        width: 400px;
    }

    .num {
        font-size: 184px;
    }

    .descricao {
        width: 540px;
        font-size: 44px;
    }
}

/* Laptop */
@media (max-width: 1440px) {
    .objetivos-introducao .objetivos-img {
        gap: 10px;
    }

    .objetivos-titulo p {
        font-size: 46px;
    }

    .nosso-objetivos .obj {
        width: 200px;
    }

    .nosso-objetivos .obj .num {
        font-size: 70px;
    }
} 

@media (max-width: 768px) {
    .objetivos {
        margin: 40px 0px 90px 0px;
    }

    .objetivos-introducao {
        display: flex;
        flex-direction: column-reverse;
    }

    .objetivos-titulo {
        padding-left: 40px;
    }

    .nosso-objetivos {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: -300px;
    }
}

@media (max-width: 480px) {
    .objetivos-introducao {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 40px;
    }

    .objetivos-titulo {
        font-size: 62px;
        padding-left: 5px;
        margin-bottom: 15px;
    }

    .objetivos-img {
        display: flex;
        gap: 4px;
    }

    .objetivos-img img {
        width: 30%;
    }

    .num {
        font-size: 82px;
    }

    hr {
        display: none;
    }

    .nosso-objetivos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 70px;
    }

    .obj {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 400px;
        gap: 40px;
    }
}

@media (max-width: 425px) {
    .objetivos {
        margin: -30px 0px 0px 0px;
    }

    .objetivos-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .objetivos-img img {
        width: 30%;
    }

    .nosso-objetivos {
        width: 425px;
        padding-left: 500px;
    }

    .num {
        font-size: 20px;
    }

    .descricao {
        font-size: 16px;
    }
}

@media (max-width: 375px) {
    .objetivos-introducao {
        margin-right: 25px;
    }

    .objetivos-titulo {
        padding-right: 10px;
    }
}

@media (max-width: 320px) {
    .obj {
        margin-left: -70px;
    }
}