.planos {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

li {
    list-style: none;
}

.padrao {
    color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    background-color: var(--verde-logo);
    border-radius: 25px;
    height: 430px;
    width: 330px;
    box-shadow:  0px 10px 18px #00000062;
}

.a_vista {
    font-size: 32px;
    font-weight: 800;
}

.parcelado {
    font-size: 16px;
    font-weight: 200;
}

.padrao .assinar a {
    background-color: var(--background);
    color: var(--verde-logo);
    border-radius: 25px;
    font-weight: 200;
    text-decoration: none;
    padding: 8px 14px;
    transition: .4s;
    box-shadow:  0px 4px 12px #00000062;
}

.premium {
    color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    background: linear-gradient(-332deg, var(--verde-logo) 20%,  var(--verde-escuro) 100%); 
    border-radius: 25px;
    height: 560px;
    width: 400px;
    box-shadow:  0px 10px 18px #00000062;
}

.premium .assinar a {
    background-color: var(--background);
    color: var(--verde-logo);
    border-radius: 18px;
    text-decoration: none;
    padding: 14px 24px;
    font-weight: 800;
    transition: .4s;
    box-shadow:  0px 10px 18px #00000062;
}

.padrao a:hover,
.premium a:hover{
    background-color: var(--verde-logo);
    border: .6px solid var(--background);
    color: var(--background);
}

@media (min-width: 2560px) {
    .padrao {
        height: 730px;
        width: 630px;
    }

    .premium {
        height: 860px;
        width: 700px;
    }

    .planos h1 {
        font-size: 80px;
    }

    .planos h2 {
        font-size: 46px;
    }

    .planos li {
        font-size: 30px;
    }

    .planos a {
        font-size: 40px;
        padding: 14px 24px;
    }
}

@media (max-width: 768px) {
    .planos {
        margin-top: 200px;
        gap: 8px;
    }
}

@media (max-width: 480px) {
    .planos {
        gap: 10px;
    }
}

@media (max-width: 425px) {
    .planos {
        margin-top: 25px;
        gap: 10px;
    }
    .padrao {
        height: 330px;
        width: 180px;
    }

    .premium {
        height: 460px;
        width: 250px;
    }

    .planos h1 {
        font-size: 26px;
    }

    .planos h2 {
        font-size: 22px;
    }

    .planos li {
        font-size: 14px;
    }

    .planos a {
        font-size: 20px;
        padding: 14px 24px;
    }
}

@media (max-width: 375px) {
    .planos h1 {
        font-size: 20px;
    }
}