* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --verde-escuro: #2DAC23;
    --verde-logo: #4ecca3;
    --background: #ebebeb;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Readex Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--background);
}